@charset "utf-8";
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

$family-primary: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
$widescreen-enabled: false;
$fullhd-enabled: false;

@import "../../node_modules/bulma/bulma.sass";

.navbar .navbar-brand {
  img {
    margin-right: 10px;
  }
  font-size: 1.3em;
  font-weight: 700;
}

#apogee {
  .tracking-station {
    .title {
      margin-bottom: .25em
    }

    margin-bottom: 1.25em
  }
}